* {
  margin: 0;
  padding: 0;
}

.css-z4l6y0-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #0b72b9 !important;
}
.css-1clsg8-MuiInputBase-root-MuiInput-root-HomePage:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #0b72b9 !important;
}

.css-2m3sc7-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #0b72b9 !important;
}